<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>

<form id="pessoaForm">
  <label>Nome:</label>
  <input type="text" name="field_nome" [(ngModel)]="fieldNome" />

  <br /><br />

  <label>Idade:</label>
  <input type="text" name="idade" [(ngModel)]="fieldIdade" />
</form>

<br/>
<button (click)="getIdade()">GetIdade</button>
<button (click)="postPessoa()">NewPessoa</button>

<router-outlet></router-outlet>
